/* Responsive Design Layout Styling */
/* Default styles for Mobile Layout */
.br{
	background-image:url(images/s.jpeg);
    height:"900px";
    width:"100%";
	}




canvas {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



/* Styles for first breakpoint at 650px */
@media only screen and (max-width:650px) 
{

 .br{
	background-image:url(images/m.jpeg)
	}

}
/* Styles for second breakpoint at 980px */
@media only screen and (max-width:980px) 
{
.br{
	background-image:url(images/l.jpeg)
	}
}.
